* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  width: 100vw;
  /* height: 200vh; */
  background: #E5E5E5;
}

body div.page1 {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/pexels-francesco-ungaro-2835436.jpg) no-repeat center center/cover;
}

body div.page2 {
  width: 100%;
  height: 100%;
}

.page1 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#little1,
#little2 {
  font-size: 2rem;
}

li {
  font-size: 3rem;
  margin-left: 2rem;
  margin-right: 3rem;
  padding: 1.5rem;
}

li:hover {
  border-bottom: 1rem solid ;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 

  color: white;
  list-style: none;
}

li.button-li button {
  border-radius: 10px;
  padding: 2rem 5rem;
  font-size: 2rem;
  color: #3E86F5;
  font-weight: bold;
}

ul li.logo {
  font-size: 5rem;
}

.middle {
  width: 100vw;
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: 6rem;
  color: white;
}

body .page1 .middle .little1,
body .page1 .middle .little2 {
  line-height: 1.7;
  font-size: 2rem;
}

@media screen and (max-width: 1052px) and (min-width: 600px) {
  li {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1.5rem;
    padding: 0.75rem;
  }
  button {
    border-radius: 1rem;
    padding: 1rem 2.5rem;
    font-size: 1rem;
    color: #3E86F5;
    font-weight: bold;
  }
  
  ul li.logo {
    font-size: 2.5rem;
  }
  
  .middle {
    width: 100vw;
    height: 60vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    font-size: 3rem;
    color: white;
  }
  
  body .middle .little1,
  body .middle .little2 {
    line-height: 1.7;
    font-size: 1.5rem;
  }
    
}
@media screen and (max-width: 600px) and (min-width: 500px) {
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    
  }

  li.button-li {
    display: none;
  }

  ul.right li {
    font-size: 2rem;
    border-bottom: 3px solid white;
  }

  .page1 .navbar {
    
    justify-content: center;
  }

  .page1 .navbar ul li.logo {
    font-size: 6rem;
  }

  .middle {
    font-size: 3rem;
  }
  
  .header2 {
    margin-bottom: 2rem;
  }

  body .middle .little1,
  body .middle .little2 {
    line-height: 1.7;
    font-size: 1.6rem;
  }

}
@media screen and (max-width: 500px) {
  .page1 {
    display: none;
  }
  .page2 {
    display: none;
  }
}
 #upcoming h2 {
  font-weight: 600;
  font-size: 4rem;
  line-height: 5rem;
  text-align: center;
  color: #000000;
}
#upcoming .menu-upcoming {
  display: flex;
  width: 340px;
  height: 66px;
  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: auto;
  justify-content: space-around;
  margin-top: 70px;
  align-items: center;
}

#upcoming button {
  width: 100px;
  height: 46px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  background-color: #FFFFFF;
}

#upcoming button.selected {
  background-color: #3E86F5;
  color: #FFFFFF;
}
#upcoming .deals-card-container{
  display: flex;
  justify-content: space-between;
  padding: 0 130px;
  margin-top: 40px;
}
#upcoming .upcoming-card {
  width: 380px;
  height: 457px;
  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  margin: 0 3rem;
}